.my-infos{
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
}
.my-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-info img{
    width: 80px;
}
.my-info p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.calc{
    padding: 15px;
}
.break-btn button{
    margin-right:10px;
    background-color: black;
    color: aliceblue;
    padding: 10px;
    border: none;
    border-radius: 7px;
}