.sport {
  width: 300px;
  height: 350px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}
.sport img {
  width: 95%;
  height: fit-content;
  border-radius: 8px;
  margin: 7px;
}
.sport-details {
  margin: 0 14px;
}
.sport-details p {
  margin-bottom: 0;
  margin-top: 10px;
}
.sport-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-top: 7px;
}
.btn-calc {
  width: 100%;
  background-color: #a09eff;
  border: none;
  border-radius: 0px 0px 7px 7px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-calc:hover{
    background-color: darkblue;
    color: aliceblue;
}
